PORT=5500
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/silver
ADMIN_USERNAME=admin1223
ADMIN_PASSWORD=K1Um]7f15q_r
DEFAULT_PREMIUM_PERCENT=0.04
DEFAULT_FIXED_AUD=4.0
MINT_AUTHORIZER_PRIVATE_KEY=
MINT_RPC_URL=
MINT_CONTRACT=
MINT_TO=
MINT_AMOUNT=1000
MINT_DEADLINE=1893456000
MINT_DOMAIN_NAME=TPC Silver
MINT_DOMAIN_VERSION=1
